<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="background-img">
    <div class="overlay"></div>

    <div class="login-box">
      <h1 class="title">✨Bibliomancia✨</h1>
      <p class="subtitle">Inicia sesión para rankear tus libros con estilo</p>

      <ion-item lines="none" class="input-item">
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

      <ion-button expand="block" color="tertiary" class="login-button">Entrar</ion-button>

      <p class="register-text">
        ¿No tienes cuenta? <a href="#">Regístrate</a>
      </p>
    </div>
  </div>
</ion-content>


